#gallerycontainer{
    background-image: linear-gradient(black,white);
    height: 1395px;
}


#grid{
    position:absolute;
    top: 90px;
    width:95%;
    left:2.5%;
    height:1200px;
    display:grid;
    grid-template-columns: 49% 2% 49%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
        "img1 . img2"
        "img3 . img4"
        "img5 . img6"
        "img7 . img8";
    row-gap: 25px;
    padding-bottom: 105px;
    min-width: 600px;
}

#img1{
    grid-area:img1;
}
#img2{
    grid-area:img2
}
#img3{
    grid-area:img3
}
#img4{
    grid-area:img4
}
#img5{
    grid-area:img5
}
#img6{
    grid-area:img6
}
#img7{
    grid-area:img7
}
#img8{
    grid-area:img8
}

#sure{
    position:fixed;
    width:50px;
    height:50px;
    border: 2px solid lime;
    background-color: lime;
    top:50%;
    left:50%;
    z-index: 999999;
}

#confirm{
    position:fixed;
    width:80px;
    height:80px;
    border: 2px solid blue;
    background-color: blue;
    top:50%;
    left:50%;
    z-index: 999999;
}
