input{
    width:100%;
}

#payment-background{
    background-color: white;
    height:fit-content;
    width:300px;
    padding:15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-28{
    border:2px solid #1A1A1A;
}