.cont{
    width:220px;
    height:220px;
    border: 2px solid grey;
    box-shadow: 5px 5px rgb(0, 0, 0);
    border-radius: 15px;
    margin-bottom: 7px;
    margin-right:7px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#artistimage{
    width:60%;
    height:60%;
    border:2px solid black;
    margin-top: 20px;
    border-radius: 10px;
}

#caption{
    display: flex;
    justify-content: center;
    width:80%;
    height:20%;
    font-size: 1.3em;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.07); 
    }