#confirm-background{
    width:100%;
    height:100%;
    background-color: black;
    position:fixed;
    opacity: 40%;
    z-index: 99;
}

#confirm-centering{
    position: absolute;
    top:20%;
    width:100%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    position:fixed;
    z-index: 100;
}

#add-to-cart{
    font-size: 2em;
}

#added-to-cart{
    font-size: 1.7em;
}

#confirm-window{
    width:300px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 4px solid black;
    border-radius: 15px;
    z-index: 100;
    padding: 20px;
}