#artistgrid{
    position:absolute;
    top: 120px;
    width:80%;
    left:10%;
    right:10%;
    height:70%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 440px;
    min-width: 880px;
}

.row{
    height:220px;
    min-height: 220px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#artistcont{
    height:100%;
    background-image: linear-gradient(black,white);
}
