.art{
    border:2px solid grey;
    border-radius: 10px;
    display:flex;
    align-items: center;
    box-shadow: 5px 5px black;
    background-color: white;
}

#art-and-text{
    position:relative;
    left:7.5%;
    width:90%;
    height:80%;
    display:flex;
    flex-direction: row;
}

#image{
    border: 2px solid black;
    height:210px;
    width:210px;
}

#desc{
    height:246px;
    flex-grow: 1;
    overflow: hidden;
    flex-shrink:100;
}

#text{
    padding-left:15px;   
    resize: none;
    height:100%;
    margin-top:0px;
    margin-bottom:0px;
    background-color: transparent;
    outline: none;
    min-width: 0px;
    font-size: 1.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.03); 
    }


#title{
    margin:0px;
    display: flex;
    justify-content: center;
    border:2px solid black;
    border-top: none;
    font-size: 1.45em;
}